@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --secondary-color-secondary-6: #FAFAFD;
    --secondary-color-secondary-5: #FFF;
    --Secondary-Color-Secondary-1: rgb(24, 0, 112);
    --Secondary-Color-Secondary-2: #9E9DA8;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}