.background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-hover);
    border-radius: 20px;
}

.title {
    color: var(--primary-color-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    position: relative;
}

.filter {
    color: var(--primary-color-text);
}

.info_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info_product_title {
    color: var(--primary-color-text);
}

.info_product_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: 104px;
    height: 36px;
    background-color: var(--primary-color-background-1);
    border-radius: 6px;
}

.info_product_filter_title {
    color: var(--primary-color-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

}

.list_product {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

@keyframes changeColor {
    0% {
        background-color: var(--primary-color-background-1)
    }

    100% {
        background-color: #77DAE6;
    }
}

.item_product {
    padding: 16px;
    background-color: var(--primary-color-background-1);
    border-radius: 20px;
    width: 30%;
}

.item_product:hover {
    animation: changeColor 2s forwards;
    cursor: pointer;
}

.img_product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_product {
    color: var(--primary-color-text);
}

.lazada {
    color: #9E9DA8;
    margin: 16px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
}

.img_price {
    color: var(--primary-color-text);
    display: flex;
}

@media (min-width: 640px) {
    .background {
        height: 374px;
        border-radius: 20px;
    }

    .title {
        font-size: 42px;
        font-weight: 500;
        line-height: 60px;
        width: 418px;
        padding-left: 50px;
    }

    .photo_1 {
        position: absolute;
        width: 438px;
        height: 281px;
        right: 0;
        bottom: -188px;
    }

    .photo_2 {
        position: absolute;
        width: 211px;
        height: 269px;
        right: 120px;
        bottom: -110px;
    }

    .photo_3 {
        position: absolute;
        width: 211px;
        height: 269px;
        right: -50px;
        bottom: -240px;
    }

    .info_product {
        margin-top: 30px;
    }

    .info_product_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
    }

    .info_product_filter {}

    .info_product_filter_title {}

    .list_product {

        gap: 30px;
        margin-top: 30px;
    }

    .item_product {}

    .img_product {}

    .name_product {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .lazada {
        color: #9E9DA8;
        margin: 16px 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
    }

    .img_price {}
}

@media (max-width: 639px) {
    .background {
        height: 166px;
        border-radius: 20px;
    }

    .title {
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
        width: 151px;
        padding-left: 20px;
    }

    .photo {
        height: 100%;
    }

    .photo_1 {
        position: absolute;
        width: 163px;
        height: 111px;
        right: 0;
        bottom: -7px;
    }

    .photo_2 {
        position: absolute;
        width: 84px;
        height: 107px;
        right: 40px;
        bottom: 30px;
    }

    .photo_3 {
        position: absolute;
        width: 39px;
        height: 53px;
        right: 20px;
        bottom: 20px;
    }

    .info_product {
        margin-top: 25px;
    }

    .info_product_title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }


    .list_product {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }

    .name_product {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .lazada {
        color: #9E9DA8;
        margin: 16px 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
    }

}