
      
    
//     }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // Đảm bảo padding và border không vượt quá kích thước phần tử
}

.Wrapper {
  display: flex;
  justify-content: center;
  width: 300px;
  
}

.container {
  display: flex; 
  width: 300px;
  margin-top: 15px;
}

.sidebar-1 {
  
  border-radius: 15px;
  width: 300px;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 15px; // Thêm padding để có khoảng cách
  box-sizing: border-box; // Đảm bảo kích thước phần tử không vượt quá chiều rộng sidebar

  .profile-info {
    text-align: center;
    width: 100%; // Đảm bảo profile-info chiếm toàn bộ chiều rộng của sidebar

    .avatar {
      border-radius: 50%;
    }

    h3 {
      margin: 10px 0 5px;
      font-size: 18px;
     
      font-weight: 500;
    }

    p {
      font-size: 14px;
      color: #666;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  .sidebar-items {
    h4 {
      font-size: 18px;
      font-weight: 500;
      margin-left: 15px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 0 10px;

      li {
        padding: 8px 0;
        font-size: 14px;
       
        cursor: pointer;
        display: flex;
        align-items: center; // Đảm bảo các icon và text nằm ngang với nhau
        gap: 10px;
        margin-left: 15px; // Giảm margin để không vượt khỏi sidebar

        &:hover {
          color: #6c63ff;
          text-decoration: underline;
        }
      }
    }
  }
}
