
.otp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;  // Starts invisible
  animation: fadeIn 0.3s ease forwards;

  @keyframes fadeIn {
    to {
      opacity: 1;  // Fades in
    }
  }
}

.otp-modal-content {
  background: white;
  display: flex;
  flex-direction: column; // Ensures the content stacks correctly
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
  transform: scale(0.9); // Starts slightly shrunk
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; // Initially hidden
  animation: contentFadeIn 0.4s ease forwards;
  
 

  @keyframes contentFadeIn {
    to {
      opacity: 1; // Becomes visible
      transform: scale(1); // Grows to normal size
    }
  }

  h2 {
    color: #9E9DA8;
  }

  .top-title {
    display: flex;
    align-items: center;
    gap: 10px; // Space between logo and text
    h1{
      justify-content: center;
      align-items: center;
      color:rgb(12, 30, 171);
      font-size: 20px;
      font-weight: bold;
    
    }
  }

  .logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }

  // Logo hover effect
  &:hover .logo {
    transform: rotate(360deg);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      border-bottom: 1px solid black;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #3498db;
      }
    }
  }
}

.but, .but-2, .but-3 {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  gap: 10px;
  padding: 10px;
  background-color: rgb(127, 160, 250);
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: #3498db;
    color: white;
    transform: translateY(-2px);
  }
}
