.wrapper {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 24px;
  color: var(--primary-color-text);
  font-weight: 700;
  line-height: 34px;
}

.list_product {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  max-height: 500px; 
  overflow-y: auto; 
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  background-color: var(--primary-color-background-1);
  border-radius: 10px;
}

.item_name {
  color: var(--primary-color-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 20px;
}
.item:hover{
  background-color: var(--primary-color-hover);
  cursor: pointer;
}