.wrapper {
    // max-width: var(--default-layout-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

// .container {
//    width: 91%;
//    display: flex;
// }

